@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "Font Titulo";
    src: url(fonts/fontTitulo3.ttf);
}

/* ==============================
   VARIABLES GLOBALES
============================== */
:root {
    --background-box: white;
    --background-document: #dcdcdc;

    --padding-top-text: 30px;
    --padding-top-tablet: 20px;
    --padding-left-text: 30px;
    --padding-top-person: 10px;

    --font-family-title: "Font Titulo";
    --font-family-person: "Open Sans";

    --font-size-mobile-tablet-text: 1.75rem;
    --font-size-mobile-tablet-title: 5rem;
    --font-size-mobile-tablet-person: 1rem;
    --font-size-desktop-text: 2.25rem;
    --font-size-desktop-title: 6rem;
    --font-size-desktop-person: 1.15rem;
}

/* ==============================
   BASE / ESCRITORIO (por defecto)
============================== */
body {
    background-color: var(--background-document);
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.white {
    background-color: var(--background-box);
    height: 100%;
}

.texto {
    font-family: var(--font-family-title);
    margin: 0;
    padding-top: var(--padding-top-text);
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-desktop-text);
    font-style: italic;
}

.div12 h1 {
    font-family: var(--font-family-title);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-desktop-title);
    font-weight: normal;
    height: 100%;
}

.autor {
    font-family: var(--font-family-person);
    margin: 0;
    padding-top: var(--padding-top-person);
    padding-left: var(--padding-left-text);
    padding-right: var(--padding-left-text);
    font-size: var(--font-size-desktop-person);
    font-weight: bolder;
}

/* GRID - DESKTOP */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.div1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.div2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.div3 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.div4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.div5 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.div6 {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.div7 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.div8 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

.div9 {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
}

.div10 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

.div11 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

.div12 {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
}

.div13 {
    grid-row: 4 / 5;
    grid-column: 3 / 5;
}

/* ==============================
   TABLET 
============================== */
@media (max-width: 1024px) and (min-width: 601px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .div1 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .div2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .div3 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .div4 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .div5 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    .div6 {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }

    .div7 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .div8 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .div9 {
        grid-row: 3 / 5;
        grid-column: 3 / 4;
    }

    .div10 {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
    }

    .div11 {
        grid-row: 6 / 7;
        grid-column: 3 / 4;
    }

    .div12 {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }

    .div13 {
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }

    .texto {
        font-size: var(--font-size-mobile-tablet-text);
    }

    .div12 h1 {
        font-size: var(--font-size-mobile-tablet-title);
    }

    .autor {
        font-size: var(--font-size-mobile-tablet-person);
    }
}

/* ==============================
   MÓVIL
============================== */
/* ==============================
   MÓVIL SIMPLE (una caja debajo de otra)
============================== */
@media (max-width: 600px) {
    .parent {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .parent > div {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .white {
        background-color: var(--background-box);
        width: 100%;
    }

    .texto {
        font-family: var(--font-family-title);
        margin: 0;
        padding: var(--padding-top-text) var(--padding-left-text);
        font-size: var(--font-size-mobile-tablet-text);
        font-style: italic;
    }

    .div12 h1 {
        font-family: var(--font-family-title);
        margin: 0;
        text-align: center;
        font-size: var(--font-size-mobile-tablet-title);
        font-weight: normal;
        padding: 0 var(--padding-left-text);
    }

    .autor {
        font-family: var(--font-family-person);
        margin: 0;
        padding: var(--padding-top-person) var(--padding-left-text);
        font-size: var(--font-size-mobile-tablet-person);
        font-weight: bolder;
    }
}
